.footer {
  background-color: rgba(0, 0, 0, 0.044);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-top: 1px solid rgba(0, 0, 0, 0.104); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 18px;
}

.footerContainer {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0rem;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}