.blogDate {
  margin-bottom: 0px;
  margin-top: 30px;
  opacity: 80%;
}

.blogHeading {
  margin-bottom: 10px;
  margin-top: 10px;
}

.blogSubHeading {
  font-size: 1rem;
  margin-top: 0px;
  /* opacity: 80%; */
  font-weight: 350;
  margin-bottom: 50px;
}



.blogList {
  /* margin-top: 50px; */
}

.blogListingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: opacity 0.2s ease;
  padding: 11px 0px;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.blogListingWrapper:hover {
  opacity: 60%;
}

.blogListingTitle {
  font-weight: 500;
}

.blogListingDate {
  opacity: 80%;
}